@model DevsterCv.Models.CvViewModel
@{
    ViewData["Title"] = "NewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <h2 class="text-center">Detaljer <b>Anställd</b></h2>
                </div>
                <div class="col-sm-4">
                    <div class="search-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="w3-light-grey">

            <!-- Page Container -->
            <div class="w3-content w3-margin-top" style="max-width:1400px;">

                <!-- The Grid -->
                <div class="w3-row-padding">

                    <!-- Left Column -->
                    <div class="w3-third">

                        <div class="w3-white w3-text-grey w3-card-4">
                            <div class="w3-display-container">
                                <img src="~/images/@Model.Employee.ProfilePicture" style="width:100%" alt="Avatar" asp-append-version="true" />
                                <div class="w3-display-bottomleft w3-container w3-text-black">
                                    <h2>  @Html.DisplayFor(model => model.Employee.EmployeeName)</h2>
                                </div>
                            </div>
                            <div class="w3-container">
                                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.Employee.EmployeRole)</p>
                                <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>t</p>
                                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>t</p>
                                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i> @Html.DisplayFor(model => model.Employee.Tele)</p>
                                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>@Html.DisplayFor(model => model.Employee.Mail)</p>
                                <hr>

                                <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Tekniker & verktyg</b></p>
                                @foreach (var teknik in Model.Techniques)
                                {
                                    <p>@teknik.Name</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                                    </div>
                                }
                                <br>

                                <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Middleware & databaser</b></p>
                                @foreach (var middleware in Model.Middlewares)
                                {
                                    <p>@middleware.Name</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
                                    </div>
                                }
                                <br>

                                <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Branscher</b></p>
                                @foreach (var trade in Model.Trades)
                                {
                                    <p>@trade.Name</p>
                                }
                                <br>
                                <br>
                            </div>
                        </div><br>

                        <!-- End Left Column -->
                    </div>

                    <!-- Right Column -->
                    <div class="w3-twothird">

                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Uppdrag</h2>
                            @foreach (var focusassignment in Model.FocusAssigments)
                            {
                                <div class="w3-container">
                                    <h5 class="w3-opacity"><b>@focusassignment.Uppdrag</b></h5>
                                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@focusassignment.Tid</h6>
                                    <p>@focusassignment.Beskrivning</p>
                                    <hr>
                                </div>
                            }
                            @foreach (var assignment in Model.Assigments)
                            {
                                <div class="w3-container">
                                    <h5 class="w3-opacity"><b>@assignment.Uppdrag</b></h5>
                                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@assignment.Tid</h6>
                                    <p>@assignment.Beskrivning</p>
                                    <hr>
                                </div>
                            }

                            <div class="w3-container w3-card w3-white">
                                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Utbildning</h2>

                                <div class="w3-container">
                                    <h5 class="w3-opacity"><b>@Model.DegreeTraining.Name</b></h5>
                                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@Model.DegreeTraining.Name</h6>
                                    <p>Examen</p>
                                    <hr>
                                </div>

                                @foreach (var training in Model.Trainings)
                                {
                                    <div class="w3-container">
                                        <h5 class="w3-opacity"><b>@training.Name</b></h5>
                                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@training.Name</h6>
                                        <p>Kurs</p>
                                        <hr>
                                    </div>
                                }
                            </div>

                            <!-- End Right Column -->
                        </div>

                        <!-- End Grid -->
                    </div>

                    <!-- End Page Container -->
                </div>



            </div>


            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.Employee.EmployeeId" class="btn btn-primary btn-sm">Ändra</a>
                <a asp-action="Index" class="btn btn-primary btn-sm">Tillbaka till lista</a>
            </div>
        </div>
    </div>
</div>


