@using MVCSharpArch.Domain
@model DevsterCv.Models.CvViewModel


@{ byte[] photo = Model.Employee.Photo;
    string imageSrc = null;
    if (photo != null)
    {
        MemoryStream ms = new MemoryStream();
        ms.Write(photo, 78, photo.Length - 78); // strip out 78 byte OLE header (don't need to do this for normal images)
        string imageBase64 = Convert.ToBase64String(ms.ToArray());
        imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
    }
    <img src="@imageSrc" alt="Employee Photo" border="0" />
}

<h2>Profile</h2>
<p>@Html.ViewData.Model.Employee.EmployeeName</p>
<p>@Html.ViewData.Model.Employee.ProfileCompany</p>
<p>@Html.ViewData.Model.Employee.ProfileCompanyAdress</p>
<p>@Html.ViewData.Model.Employee.ProfileCompanyPostalAdress</p>
<p>@Html.ViewData.Model.Employee.ProfilRole</p>
<p>@Html.ViewData.Model.Employee.EmployeeInfo</p>
<p>@Html.ViewData.Model.Employee.EmployeRole</p>


<h2>Kontact</h2>
<p>@Html.ViewData.Model.Contact.Tele</p>
<p>@Html.ViewData.Model.Contact.City</p>
<p>@Html.ViewData.Model.Contact.Mail</p>
<p>@Html.ViewData.Model.Contact.Linkedin</p>

<h2>Spec</h2>
<p>@Html.ViewData.Model.Spec.Expertis</p>
<p>@Html.ViewData.Model.Spec.Utbildning</p>
<p>@Html.ViewData.Model.Spec.Middleware</p>
<p>@Html.ViewData.Model.Spec.Tekniker</p>
<p>@Html.ViewData.Model.Spec.Branscher</p>
<p>@Html.ViewData.Model.Spec.Intressen</p>

<h2>Erfarenheter</h2>
@foreach (var assignment in Model.Assigments)
{
    <p>@assignment.Uppdrag</p>
    <p>@assignment.Roll</p>
    <p>@assignment.Tid</p>
    <p>@assignment.Beskrivning</p>
    <p>@assignment.Teknik</p>
}



